HOSTNAME=domain.io
MEDIA_PATH=/path/to/media/data

PLEX_VERSION=1.23.6.4881-e2e58f321-ls66
PLEX_WEB_PORT=32400
PLEX_CONFIG_PATH=/path/to/docker_data/plex

PORTAINER_AGENT_VERSION=2.6.2
PORTAINER_VERSION=2.6.2
PORTAINER_WEB_PORT=9000
PORTAINER_CONFIG_PATH=/path/to/docker_data/portainer

ARCH_DELUGEVPN_VERSION=2.0.4.dev56-g2e466101f-1-01
ARCH_DELUGEVPN_WEB_PORT=8112
ARCH_DELUGEVPN_PASSWORD=mysuperpassword
ARCH_DELUGEVPN_CONFIG_PATH=/path/to/docker_data/arch_delugevpn

NGINX_VERSION=1.21.1
NGINX_WEB_PORT=12345
NGINX_FILESERVER_CONFIG_PATH=/path/to/docker_data/nginx
NGINX_STORAGE_PATH=/path/to/served/data

LIDARR_VERSION=0.8.1.2135-ls62
LIDARR_CONFIG_PATH=/path/to/docker_data/lidarr
LIDARR_WEB_PORT=8686

PROWLARR_VERSION=1.1.875
PROWLARR_CONFIG_PATH=/path/to/docker_data/prowlarr
PROWLARR_WEB_PORT=9696

RADARR_VERSION=3.2.2.5080-ls117
RADARR_CONFIG_PATH=/path/to/docker_data/radarr
RADARR_WEB_PORT=7878

SONARR_VERSION=3.0.6.1342-ls124
SONARR_CONFIG_PATH=/path/to/docker_data/sonarr
SONARR_WEB_PORT=8989
